# Git
.git
.gitignore

# Docker
docker-compose.override.yml

# Dependencies
node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# IDE
.vscode
.idea

# OS
Thumbs.db
Desktop.ini

# Logs
*.log
npm-debug.log*
